{% extends 'base.html' %}

{% block content %}
<div id="exam">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course-list' %}">Course</a></li>
            <li class="breadcrumb-item active" aria-current="page">Exam</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center">
        <h4>{{ course.name }}</h4>
        <div>
            <a href="{% url 'course-edit' course.id %}">
                <i class="fas fa-edit"></i>
                Edit
            </a>
        </div>
    </div>

    <p>
        <small>
            [add description later]
        </small>
    </p>
    
    <div class="list">
        {% for exam in exams %}
        <a href="#">
            <div class="item">
                <span>{{ exam.title }}</span>
                <div>
                    <a id="deleteLink" href="#" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this exam?');"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <a href="{% url 'exam-add' course.id %}" class="add-exam-link btn btn-primary">Add New Exam</a>
</div>
{% endblock %}
