body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
  color: #343a40; /* Dark gray text */
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.logo img {
  width: 60%;
  margin-bottom: 5%;
}

.robot-box {
  width: 400px;
  height: 400px;
  margin: auto;
}

.robot-box img {
  width: 350px;
  height: 350px;
}

.hide-img {
  height: 0px;
  overflow: hidden;
}

.captcha {
  width: 70%;
  margin: 5%;
  border-radius: 5px;
}

#dashboard a {
  text-decoration: none;
}

#dashboard .card {
  transition: box-shadow 0.3s ease;
}

#dashboard .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}