body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
  color: #343a40; /* Dark gray text */
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.breadcrumb {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
  margin-bottom: 5%;
}

.robot-box {
  width: 300px;
  height: 300px;
  margin: auto;
}
.robot-box #frame {
  width: 300px;
  background-size: 300px 300px;
  height: 300px;
}

.hide-img {
  height: 0px;
  overflow: hidden;
}

.captcha {
  width: 70%;
  margin: 5%;
  border-radius: 5px;
}

#dashboard a {
  text-decoration: none;
}

#dashboard .card {
  transition: box-shadow 0.3s ease;
}

#dashboard .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}


#course .course-list {
  max-width: 600px;
  margin: auto;
}
#course .course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
#course .add-course-link {
  display: block;
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

#exam .list {
  max-width: 600px;
  margin: auto;
}
#exam .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
#exam .add-exam-link {
  display: block;
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}