{% extends 'base.html' %}

{% block content %}
<div id="course">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Course</li>
        </ol>
    </nav>

    <p>
        <small>
            Prioritize course organization on this page before creating lessons/exams.
            Courses act as central hubs, making content management easier.
            Enhance user engagement as you deliver and promote your content on your app.
        </small>
    </p>

    <div class="course-list">
        {% for course in courses %}
        <a href="{% url 'exam-list' course.id %}">
            <div class="course-item">
                <span>{{ course.name }}</span>
                <div>
                    <a id="deleteLink" href="{% url 'course-delete' course.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this course?');"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <a href="{% url 'course-add' %}" class="add-course-link btn btn-primary">Add New Course</a>
</div>
<script>
    document.getElementById("deleteLink").addEventListener("click", function(event) {
        event.preventDefault();
        var deleteUrl = this.getAttribute("href");
        if (confirm("Are you sure you want to delete?")) {
            window.location.href = deleteUrl;
        }
    });
</script>
{% endblock %}
