{% extends 'base.html' %}

{% block content %}
    <div id="dashboard">
        <a href="{% url 'course-list' %}">
            <div class="card border-dark mb-3">
                <div class="card-header">
                    <strong><i class="fas fa-clipboard-list"></i> Exam Management</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">Craft exams and courses to educate individuals on various subjects, suitable for students, employees, friends, or anyone eager to learn.</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card border-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card border-dark mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
