{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoExam</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


    <div class="container">
        <div class="content">
            {% block content %}
            <!-- Content of each page will be inserted here -->
            {% endblock %}
            <br/><br/>
            <footer>
                <p>&copy; {% now "Y" %} AutoExam. All Rights Reserved. | 
                    <small>
                        <a href="{% url 'logout' %}">
                            Logout
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </small>
                </p>
            </footer>
        </div>
    </div>

    <!-- Include any additional scripts here -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
